{% extends "bootstrap/base.html" %}

{% block metas -%}
{{ super() }}
{% include "favicons.html" %}
{%- endblock %}

{% block styles -%}
{{ super() }}
    <style>
        @media (min-width: 981px) { body { padding-top: 60px; } }
    </style>
{%- endblock %}

{% block title %}paste capsule - {{ paste.tag }} - {{ paste.id }}{% endblock %}
{% block navbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="navbar-left breadcrumb" style="background:inherit">
            <li><a href="{{ url_for('tag_index') }}">tag index</a></li>
            <li><a href="{{ url_for('tag_show', tag=paste.tag) }}">{{ paste.tag }}</a></li>
            <li class="active">{{ paste.id }} (<a href="{{ url_for('paste_show_raw', paste_id=paste.id) }}">raw</a>)</li>
        </ul>
        <ul class="nav navbar-right">
            <li><a class="navbar-brand" href="https://github.com/tr3buchet/paste_capsule">paste capsule</a></li>
        </ul>
    </div>
{%- endblock %}

{% block content -%}
    <div class="container-fluid">
        <pre style="overflow: auto; word-wrap: normal; white-space: pre">
{{ paste }}
        </pre>
    </div>
{%- endblock %}
