{% extends "bootstrap/base.html" %}

{% block metas -%}
{{ super() }}
{% include "favicons.html" %}
{%- endblock %}

{% block styles -%}
{{ super() }}
    <style>
        @media (min-width: 981px) { body { padding-top: 60px; } }
    </style>
{%- endblock %}

{% block title %}paste capsule{% endblock %}
{% block navbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="navbar-left breadcrumb" style="background:inherit">
            <li class="active">tag index</li>
        </ul>
        <ul class="nav navbar-right">
            <li><a class="navbar-brand" href="https://github.com/tr3buchet/paste_capsule">paste capsule</a></li>
        </ul>
    </div>
{%- endblock %}

{% block content -%}
    <div class="container">
        <h5>{{ tags|length }} tags found</h5>
        <div class="list-group">
            {%- for tag, num in tags %}
            <a href="{{ url_for('tag_show', tag=tag) }}" class="list-group-item">{{ tag }}<span class="badge">{{ num }}</span></a>
            {%- endfor %}
        </div>
    </div>
{%- endblock %}
