{% extends "bootstrap/base.html" %}

{% block metas -%}
{{ super() }}
{% include "favicons.html" %}
{%- endblock %}

{% block styles -%}
{{ super() }}
    <style>
        @media (min-width: 981px) { body { padding-top: 60px; } }
        .list-group > a.highlight {
            background-color: pink;
        }
        .list-group > a.highlight:hover {
            background-color: #e6adb7;
        }
    </style>
{%- endblock %}

{% block title %}paste capsule - {{ tagname }}{% endblock %}
{% block navbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="navbar-left breadcrumb" style="background:inherit">
            <li><a href="{{ url_for('tag_index') }}">tag index</a></li>
            <li class="active">{{ tagname }}</li>
        </ul>
        <ul class="nav navbar-right">
            <li><a class="navbar-brand" href="https://github.com/tr3buchet/paste_capsule">paste capsule</a></li>
        </ul>
    </div>
{%- endblock %}

{% block content -%}
    <div class="container">
        <h5>{{ pastes|length }} pastes found</h5>
        <div class="list-group">
            {%- for paste_uuid, ts, highlight in pastes %}
            <a href="{{ url_for('paste_show', paste_uuid=paste_uuid) }}" class="list-group-item {{ highlight }}">{{ ts }} - {{ paste_uuid }}<span class="badge">{{ num }}</span></a>
            {%- endfor %}
        </div>
    </div>
{%- endblock %}
